<h1><center>Assignment #1. Fall 2019</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [ ]:
import numpy as np
import pandas as pd
# pip install seaborn 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings; warnings.simplefilter('ignore')

**Here we put the data in dataframe, so we can use it more easily**

In [ ]:
data = pd.read_csv('athlete_events.csv')

**Check the number of rows and columns and print column names.**

In [ ]:
print(data.shape)
print(data.columns)

**Print first 5 rows of the dataset.**

In [ ]:
data.head()

**Transpose the frame to see all features at once.**

In [ ]:
data.head().T

**Examine data types of all features and total dataframe size in memory.**

In [ ]:
data.info()

**Get basic statistics of each feature.**

In [ ]:
data.describe().T

**Count unique Sports and plot their relative share of occurences:**

In [ ]:
data['Sport'].nunique()

**We can also _group by_ category/categories in order to calculate different aggregated statistics.**

**For example, finding top-3 flight codes, that have the largest total distance travelled in year 2008.**

In [ ]:
data.groupby('Sport').size().plot(kind='bar');

**Number of flights by days of week and months:**

In [ ]:
pd.crosstab(data.Event, data.Season).head()

**Flight distance histogram:**

In [ ]:
data.hist('Year', bins=10);

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [ ]:
df = data[(data['Year'] == 1996)].groupby('Sex').Age.agg(min)
df

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [ ]:
all_gymnasts = pd.DataFrame(data.loc[data.Year == 2000].groupby(['Sport', 'Sex']).Name.nunique())
all_gymnasts.head()

In [ ]:
male_gymnasts = all_gymnasts.query("Sport == 'Gymnastics' & Sex == 'M'").sum()
male_participants = all_gymnasts.query("Sex == 'M'").sum()
percentage = (male_gymnasts/male_participants * 100).round(1)
percentage

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [ ]:
fem_basket_2000 = data[(data['Year'] == 2000) & (data.Sex == 'F') & (data.Sport == 'Basketball')]
a = fem_basket_2000.describe()
a['Height']

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [ ]:
dw = data[(data['Year'] == 2002)]
dw[dw['Weight'] == dw['Weight'].max()]['Sport']

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [ ]:
dt = (data.loc[data.Name == 'Pawe Abratkiewicz'].groupby('Name').Year.nunique())
dt

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [ ]:
silver_medals = (data.loc[(data. == ) & (data. == '') & (data. == '') & (data. == '')])
silver_medals.Medal.value_counts()

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [ ]:
swtz = data.loc[(data. == 2016) & (data. == '')].dropna(subset=['Medal']).Medal.value_counts()
swtz

In [ ]:
srb = data.loc[]
srb

In [ ]:
swtz.sum() < srb.sum()

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [ ]:
year_2014 = data.loc[(data. == )]
year_2014['ages'] = pd.cut(x = year_2014.Age, bins=[15,25,35,45,55])
year_2014..()

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [ ]:
pd.Series([data.loc[(data. == 'Summer') & (data. == 'Lake Placid')].ID.count() > 0,
           data.loc[(data. == '') & (data. == '')].ID.count() > 0])

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [ ]:
sports_1995 = data.loc[data. == ]..nunique()
sports_2016 = data.loc[data. == ]..nunique()
abs(sports_1995 - sports_2016)